In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.neighbors import KernelDensity
from sklearn.preprocessing import StandardScaler

ModuleNotFoundError: No module named 'seaborn'

In [22]:
df = pd.read_csv("Data/Residential-Building-Data-Set.csv", header = 1)

In [23]:
df.head()

,START YEAR,START QUARTER,COMPLETION YEAR,COMPLETION QUARTER,V-1,V-2,V-3,V-4,V-5,V-6,...,V-22.4,V-23.4,V-24.4,V-25.4,V-26.4,V-27.4,V-28.4,V-29.4,V-9,V-10
0,81.0,1.0,85.0,1.0,1.0,3150.0,920.0,598.5,190.0,1010.84,...,815.50,1755.00,8002.0,60.74,54.26,2978.26,41407.0,601988.1,2200.0,410.0
1,84.0,1.0,89.0,4.0,1.0,7600.0,1140.0,3040.0,400.0,963.81,...,1316.30,8364.78,8393.0,90.95,89.79,11379.37,44835.0,929027.1,5000.0,1000.0
2,78.0,1.0,81.0,4.0,1.0,4800.0,840.0,480.0,100.0,689.84,...,765.80,1755.00,4930.0,38.70,32.04,1653.06,37933.0,377828.6,1200.0,170.0
3,72.0,2.0,73.0,2.0,1.0,685.0,202.0,13.7,20.0,459.54,...,152.25,1442.31,1456.0,9.73,8.34,686.16,8194.0,122031.7,165.0,30.0
4,87.0,1.0,90.0,2.0,1.0,3000.0,800.0,1230.0,410.0,631.91,...,2244.10,9231.76,9286.0,136.60,140.20,9821.00,48260.0,1734973.5,5500.0,700.0

In [24]:
print(df.shape)
print(df.describe())

(372, 109)
       START YEAR  START QUARTER  COMPLETION YEAR  COMPLETION QUARTER  \
count  372.000000     372.000000       372.000000          372.000000
mean    81.483871       2.190860        82.951613            2.586022
std      4.182141       1.083382         4.223898            1.123442
min     72.000000       1.000000        73.000000            1.000000
25%     78.000000       1.000000        80.000000            2.000000
50%     82.000000       2.000000        84.000000            3.000000
75%     85.000000       3.000000        87.000000            4.000000
max     88.000000       4.000000        90.000000            4.000000

              V-1           V-2          V-3          V-4         V-5  \
count  372.000000    372.000000   372.000000   372.000000  372.000000
mean     9.728495   1729.044355   426.114247   327.904086  163.118280
std      6.563309   1802.371491   490.076498   563.544337  112.604343
min      1.000000    200.000000    60.000000     3.700000   10.000000
25%      4.000000    720.000000   190.000000    67.800000   80.000000
50%      8.000000   1220.000000   300.000000   164.700000  140.000000
75%     17.000000   2100.000000   490.500000   366.050000  230.000000
max     20.000000  15670.000000  5000.000000  7208.200000  640.000000

               V-6  ...       V-22.4       V-23.4        V-24.4      V-25.4  \
count   372.000000  ...   372.000000   372.000000    372.000000  372.000000
mean    554.419839  ...  1187.484704  5403.213091   7431.560215   76.288817
std     275.105953  ...   708.139788  3534.428753   2210.892779   39.507185
min     193.080000  ...   152.250000  1439.000000   1450.000000    9.730000
25%     391.677500  ...   669.800000  1755.000000   6714.000000   43.400000
50%     522.455000  ...   938.400000  7927.570000   8315.000000   72.565000
75%     667.905000  ...  1795.300000  9000.910000   9022.000000  109.020000
max    3436.930000  ...  3686.300000  9967.330000  10099.300000  190.500000

           V-26.4        V-27.4        V-28.4        V-29.4          V-9  \
count  372.000000    372.000000    372.000000  3.720000e+02   372.000000
mean    73.446398   5915.576801  27551.883065  8.789713e+05  1387.432796
std     43.726005   4282.641116  13516.283345  5.067320e+05  1206.083047
min      8.340000    354.550000   8194.000000  1.218572e+05    50.000000
25%     36.450000   1917.437500  12065.000000  5.196798e+05   577.500000
50%     67.455000   4525.370000  25758.750000  6.592429e+05  1000.000000
75%    112.000000   9821.000000  40234.000000  1.181856e+06  1700.000000
max    204.800000  13596.370000  49572.000000  2.435004e+06  6800.000000

              V-10
count   372.000000
mean    232.647849
std     162.627656
min      20.000000
25%     110.000000
50%     190.000000
75%     330.000000
max    1000.000000

[8 rows x 109 columns]

- Split Data into X and y subsets. X being the entire data frame without V-9 and V-10 and y being the target column of V-10. 
- We removed V-9 because it is the final sales price which can leak data about V-10 which violates our ML golden rule

In [26]:
X = df.drop(columns = ['V-9', 'V-10'])
y = df['V-10']

Performing EDA on Featrues